* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  height: 100vh;
  margin: 0;
  display:flex;
  justify-content: center;
  align-items: center;
  font-family: 'Open Sans', sans-serif;
  background: #222;
  background-image: url('https://source.unsplash.com/random/1920x1080/?city');
}

.card {
  background: #000000d0;
  color:white;
  padding: 2em;
  border-bottom: 30px;
  width: 100%;
  max-width: 420px;
  margin: 1em;

}

.title{
  text-align: center;
  color:coral;
  font-family: 'Open Sans', sans-serif;
}

.container-fluid input[type="text"] {
  text-transform: capitalize;
  box-sizing: border-box;
  text-align: center;
}



.btn {
  padding: 1px 3px;
  margin: 1px 0px;
  background: transparent;
  color: white;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}

.btn:hover {
  background: white;
  color: #000;
}

.weatherData {
  margin: 8px 0px;
  line-height: 1.6;
}

.weatherData .sky {
  font-size: 1.5rem;
  text-transform: capitalize;
  font-family: 'Open Sans', sans-serif;
  color: gray;
}
.weatherData .city {
  font-size: 2rem;
  color: white;
  font-family: 'Open Sans', sans-serif;
}

.weatherData .temp {
  font-size: 1.5rem;
  font-family: 'Open Sans', sans-serif;
}
.weatherData .tempHigh {
  font-size: 1.5rem; 
  color: orange;
  font-family: 'Open Sans', sans-serif;
}
.weatherData .tempLow {
  font-size: 1.5rem;
  color: dodgerblue;
  font-family: 'Open Sans', sans-serif;
}


.weatherData .humidity {
  font-size: 1.5rem;
  color: greenyellow;
  font-family: 'Open Sans', sans-serif;
}